@{
    Page.Title = "Publicación";

    int IntPopUp = int.Parse(Request.QueryString["Popup"]?.ToString() ?? "0");
    if (IntPopUp == 0)
    {
        Layout = "~/_SiteLayout.cshtml";
    }
    int IntIdPublicacion = int.Parse(Request.QueryString["IdPublicacion"]?.ToString() ?? "-1");
    int IntIdChat = int.Parse(Request.QueryString["IdChat"]?.ToString() ?? "0");
    int IntIdUsuarioDestino = 0;
    string StrCveComprador = "";
    string StrAltura = "100px";

    ObjetoBusqueda objetoBusqueda = new ObjetoBusqueda();
    objetoBusqueda.IntEjecuta = 0;
    objetoBusqueda.IntId1 = IntIdPublicacion;
    if (IntIdPublicacion == 0 && IntIdChat == 0)
    {
        Response.Redirect("~/Views/Default/Default.cshtml");
    }
    var lstObjPublicacion = new Publicacion().ObtenerListaGenerica(objetoBusqueda);
    Publicacion objPublicacion = new Publicacion();
    if (lstObjPublicacion.Count > 0)
    {
        objPublicacion = lstObjPublicacion.First();
        IntIdPublicacion = objPublicacion.IntIdPublicacion;
        StrCveComprador = objPublicacion.StrCveComprador;
        IntIdChat = objPublicacion.IntIdChat;
        IntIdUsuarioDestino = objPublicacion.IntIdUsuario;
    }

    objetoBusqueda = new ObjetoBusqueda();
    objetoBusqueda.IntId1 = IntIdChat;
    objetoBusqueda.IntEjecuta = 2;
    Chat objChat = new Chat();
    objChat.IntIdChat = IntIdChat;
    objChat.IntIdUsuarioDestino = IntIdUsuarioDestino;
    var lstObjChat = objChat.ObtenerListaGenerica(objetoBusqueda);
    string StrJsonMensajes = "[]";
    if (lstObjChat.Count > 0)
    {
        IntIdUsuarioDestino = lstObjChat.First().IntIdUsuarioDestino;
        StrCveComprador = lstObjChat.First().StrCveUsuario;
        StrJsonMensajes = lstObjChat.First().StrJsonMensajes;
        StrAltura = "300px";
    }
    int i = 0;



}
<link rel="stylesheet" href="@VariableGlobal.StrUrlSitio/css/productDetail.css">
<div class="ContactModal modalChatMensaje" id="ContactModal" data-idpublicacion="@IntIdPublicacion">
    <div class="containerForm">
        <hr>
        <div class="row containerProfile">
            <div class="col-2 profile">
                <img src="@VariableGlobal.StrUrlSitio/img/dummy.jpg" width="50px">
            </div>
            <div class="col-8 user">
                <div>
                    <p class="user">
                        @StrCveComprador
                    </p>
                </div>
                <div>
                    <p class="userDetail">
                        <span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-2 btn">
                @*<i class="material-icons md-48">call</i>*@
            </div>
        </div>
        <hr>
        <div class="row containerProduct">
            @if (IntIdPublicacion > 0)
            {
                <div class="col-10">
                    <p class="productName">@objPublicacion.StrDescCategoria</p>
                    <p class="productDesc">@objPublicacion.StrCveCategoria</p>
                </div>
                <div class="col-2">
                    <p class="productCost">
                        $@objPublicacion.DecPresupuesto.ToString("#,###,###.##")
                    </p>
                </div>
                <img src="@VariableGlobal.StrUrlSitio/Views/Publicacion/PublicacionImagen/@objPublicacion.StrNombreArchivo" class="" alt="">
            }
            <div id="chatbox" style="word-wrap: break-word; overflow-y: scroll; overflow-x: hidden; height: @StrAltura; max-height: @StrAltura"></div>
            <div class="row containerChat">
                <div class="col-10">
                    <textarea rows=2 class="form-control" placeholder="Escribe tu mensaje" name="" id="txt_MensajeEnvio"></textarea>
                </div>
                <div class="col-2">
                    <button id="btn_EnviaMensaje" class="rounded-circle">
                        >
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#btn_EnviaMensaje").click(function () {
        fn_EnviaMensaje();
    });
    var int_IdChat = "@IntIdChat";

    function fn_ImprimeChat() {
        var lst_ObjChat = JSON.parse('@Html.Raw(StrJsonMensajes)');
        $(lst_ObjChat.reverse()).each(function (index, value) {
            $('#chatbox').append("<strong style='color: black !important'>" + value.cveUsuarioEnvia + ": </strong>" + value.mensaje + " <span style='font-size: small'>(" + value.fechaMensaje + ")</span> <br>");
        });
        setTimeout(function () {
            var objDiv = document.getElementById("chatbox");
            objDiv.scrollTop = objDiv.scrollHeight;
        }, 500);
    }

    fn_ImprimeChat();

    function fn_EnviaMensaje() {
        var strMensajeEnvio = $("#txt_MensajeEnvio").val();
        var obj_Chat = {
            IntIdChat: int_IdChat,
            IntIdPublicacion: @objPublicacion.IntIdPublicacion,
            IntIdUsuarioDestino: "@IntIdUsuarioDestino",
            StrMensaje: strMensajeEnvio
        }

        var str_Metodo = "";
        var str_Url = "";
        str_Metodo = "POST";
        str_Url = "@VariableGlobal.StrUrlApi/Chat/Post/0/";

        if (strMensajeEnvio.length > 0) {
            $.ajax({
                url: str_Url,
                data: JSON.stringify(obj_Chat),
                type: str_Metodo,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                global: false,
                success: function (obj_Datos) {
                    //Se manda el mensaje de exito
                    if (obj_Datos["IntError"] == 1) {
                        toastr[obj_Datos["StrTipoError"]](obj_Datos["StrMensajeError"]);
                    } else {
                        $('#chatbox').append("<strong style='color: black !important'>" + "@VariableGlobal.SessionStrCveUsuario" + ":</strong> " + strMensajeEnvio + " <span style='font-size: small'>(" + moment().format("DD/MM/YYYY HH:mm") + ")</span> <br>");
                        var objDiv = document.getElementById("chatbox");
                        objDiv.scrollTop = objDiv.scrollHeight;
                        int_IdChat = obj_Datos["IntIdRespuesta"];
                        $("#txt_MensajeEnvio").val("");
                        $("#txt_MensajeEnvio").focus();
                    }
                }
            });
        }
    }
</script>