@{

    int IntIdRobot = int.Parse(Request.QueryString["IntIdRobot"]?.ToString() ?? "0");   //GEG
    int IntBMenu = int.Parse(Request.QueryString["bMenu"]?.ToString() ?? "1");   //GEG

    if (IntBMenu == 1)
    {
        IntBMenu = int.Parse(Request.Form["bMenu"]?.ToString() ?? "1");
    }

    if (IntIdRobot == 0)     //GEG
    {

        if (!VariableGlobal.SessionBoolActivo ||
    VariableGlobal.SessionStrTipoMenu == "" ||
    (VariableGlobal.SessionStrTipoMenu != "ejecutivo" && VariableGlobal.SessionStrTipoMenu != "operativo"))//si no existe la sesion entonces retornamos a login
        {
            Response.Redirect("~/Acceso.cshtml");
        }
    }       //GEG
    else
    {
        var objRobot = new AccesoController().Robot(); //GEG
    }

    string Strurl = Request.RawUrl;
    bool StrUrlDefault = Strurl.Contains("Default.cshtml");
    //var int_Robot = VariableGlobal.SessionIntBRobot;
    var int_Robot = (IntIdRobot > 0 ? 1 : VariableGlobal.SessionIntBRobot);     // GEG

    // Comienza petición de acciones para la pagina
    var objAccesoPagina = new PaginaMenuController().Get((int_Robot == 1 ? 2 : 1), Strurl);
    if (int_Robot != 1 && objAccesoPagina.Content.IntIdPagina == 0 && !StrUrlDefault)     // Si la respuesta de IntIdPagina == 0, el usuario no tiene permiso
    {
        //Response.Redirect("~/Views/Default/Default.cshtml");
        //Response.Redirect(Request.UrlReferrer.OriginalString);
        Response.Redirect("~/Views/Aplicacion/Acceso/SinAcceso.cshtml?Url=" + Strurl);
    }// Si la ruta o pagina no fue encontrada en los SPs, lo retornamos a Default (es diferente al error 404)
    else if (int_Robot != 1 && objAccesoPagina.Content.IntIdPagina == -1 && !StrUrlDefault)
    {
        Response.Redirect("~/Views/Default/Default.cshtml");
    }

    int IntEjecuta = 0;

    if (@VariableGlobal.SessionIntBRobot == 1)
    {
        IntEjecuta = 2;
    }
    else
    {
        IntEjecuta = 3;
    }
    var obj_LtsMenu = new List<Menu>();
    string strJsonConfiguracionNotificacion = "[]";
    //if (VariableGlobal.SessionStrTipoMenu == "ejecutivo")
    //{
    //    obj_LtsMenu = new MenuController().ObtenerMenu(@VariableGlobal.SessionIntIdPerfil.ToString(), IntEjecuta);
    //}

    //int IntIdMultiListaMonedaUsd = new MultiListaController().ObtenerListaChar(8, 0, "MONEDA", "USD").First().idMultiLista;

    Parametro objParametro = new Parametro();
    objParametro.IntTipoBusqueda = 1;
    objParametro.StrCveParametro = "notificacion_configuracionJson";
    objParametro.ObtenerPorClaveParametro();
    if (objParametro != null)
    {
        strJsonConfiguracionNotificacion = objParametro.StrValor1char;
    }

    //SE TOMA EL PERIODO CONTABLE ACTUAL EN corporativo.empresa
    //int int_PeriodoContable = int.Parse(new PeriodoContabilidadController().ObtenerLista(3, 0).First().periodo.ToString());
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache" />
    <title>@Page.Title - @VariableGlobal.StrNombreApicacion</title>
    <link rel="icon" type="img/png" href="@VariableGlobal.StrUrlSitio/img/compradores.png" />

    <!-- Estilos de bootstrap -->
    <link href="@VariableGlobal.StrUrlSitio/css/bootstrap.min.css" rel="stylesheet">
    <!-- Estilos de awesome - Se encarga de generar los iconos del sitio web -->
    <link href="@VariableGlobal.StrUrlSitio/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Animate - Genera las animaciones del sitio cuando se colocan las propias clases de animaciones -->
    @*<link href="@VariableGlobal.StrUrlSitio/css/animate.css" rel="stylesheet">*@

    <!-- Estilos de Datatable - PLugin para controlar las tablas dinámicas -->
    <link href="@VariableGlobal.StrUrlSitio/Scripts/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="@VariableGlobal.StrUrlSitio/Scripts/plugins/dataTables/FixedHeader-3.1.3/fixedHeader.bootstrap.min.css" rel="stylesheet">

    <!-- Estilos de DatePicke - Para el seleccionado de las fechas en un input date -->
    <link href="@VariableGlobal.StrUrlSitio/css/plugins/datapicker/datepicker3.css" rel="stylesheet">

    <!-- Inspinia - Estilos definidos del template -->
    <link href="@VariableGlobal.StrUrlSitio/css/style.css" rel="stylesheet">



    <!-- Sweet Alert - Estilos para las alertas en forma de modal con acciones-->
    <link href="@VariableGlobal.StrUrlSitio/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <!-- PGW Modal - Modales dinámicos -->
    <link href="@VariableGlobal.StrUrlSitio/Scripts/plugins/PgwModal/pgwmodal.min.css" rel="stylesheet">

    <!-- Toast - Mensajes flotantes -->
    <link href="@VariableGlobal.StrUrlSitio/Scripts/plugins/toastr/toastr.min.css" rel="stylesheet" />

    <!-- Muestra una pantalla de loading mientras procesamos algo -->
    <link href="@VariableGlobal.StrUrlSitio/css/jquery.loading.min.css" rel="stylesheet" />


    <!-- Icheck - Plugin para mostrar los campos icheck con estilos -->
    <link href="@VariableGlobal.StrUrlSitio/css/plugins/iCheck/orange.css" rel="stylesheet">

    <!-- TouchSpinner - Plugin para validar los campos de tipos numericos -->
    <link href="@VariableGlobal.StrUrlSitio/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <!-- Modificaciones de estilos para el proyecto SIP 2020 - Siempre debe de ser la ultima hoja de estilos -->
    <link href="@VariableGlobal.StrUrlSitio/css/utileria.css" rel="stylesheet">
    <link href="@VariableGlobal.StrUrlSitio/css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />

    <!------------------------------------------->
    <!-- Declaracion de librerias de Javascript  -->
    <!------------------------------------------->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/jquery-2.1.1.js"></script>
    <script src="@VariableGlobal.StrUrlSitio/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>

    <script src="@VariableGlobal.StrUrlSitio/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="@VariableGlobal.StrUrlSitio/signalr/hubs"></script>

    <!-- Librerias necesarias para el funcionamiento del menú  -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Librerias para Datatable y sus funcionalidades  -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/dataTables/datatables.min.js"></script>
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/dataTables/visible/buttons.colVis.min.js"></script>
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/dataTables/FixedHeader-3.1.3/dataTables.fixedHeader.min.js"></script>

    <!-- Libreria del template inspinia  -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/inspinia.js"></script>

    <!-- Libreria que generá una barra superior que se carga según se carga una página al entrar. Es parte del template Inspinia  -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/pace/pace.min.js"></script>

    <!-- Libreria para el seleccionador de fechas en los filtros  -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- Sweet alert - Alertas en forma de modal con acciones -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/sweetalert/sweetalert.min.js"></script>

    <!-- PGW Modal - Modales dinámicos -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/PgwModal/pgwmodal.js"></script>

    <!-- Mensajes de alertas del sistema -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/toastr/toastr.min.js"></script>

    <!-- Pantallas de loading -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/jquery.loading.min.js"></script>

    <!-- Icheck - Plugin para mostrar los campos icheck con estilos -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/iCheck/icheck.min.js"></script>

    <!-- TouchSpinner - Plugin para validar los campos de tipos numericos -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Utilerias desarrolladas por el equipo de SIP 2020 - Siempre deben de ir al final -->
    <script src="@VariableGlobal.StrUrlSitio/Scripts/utileria.js?id=@Guid.NewGuid()"></script><!---carga de script custom para la configuraciones globales --->


    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/fullcalendar/moment.min.js"></script>
    <script src="@VariableGlobal.StrUrlSitio/Scripts/plugins/fullcalendar/fullcalendar.min.js"></script>

    <script src="@VariableGlobal.StrUrlSitio/Scripts/utileriaNotificacion.js"></script>

    <!--Libreria para restar dias de dos fechas-->
    <script src="http://momentjs.com/downloads/moment.min.js"></script>


</head>

@if (VariableGlobal.SessionStrTipoMenu == "ejecutivo")
{
    <text>
        <body class='skin-3 fixed-sidebar fixed-nav fixed-nav-basic'>
    </text>
}
else
{
    <text>
        <body class='top-navigation fixed-nav fixed-nav-basic operativo skin-3'>
    </text>
}




<div id="wrapper" style="@(IntBMenu == 1 ? "" : "margin-top:0;")">

    <!--- Menú Ejecutivo --->
    @if (VariableGlobal.SessionStrTipoMenu == "ejecutivo" && IntBMenu == 1)
    {
        <text>
            @* Este menú es el que aparece del lado izquierdo cuando se selecciona el tipo ejecutivo *@
            <nav id="nav_menu" class="navbar-default navbar-static-side" role="navigation" hidden>
                <div class="sidebar-collapse">
                    <ul class="nav metismenu" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                    <a href="@VariableGlobal.StrUrlSitio/Views/Default/Default.cshtml">
                                        <img src="@VariableGlobal.StrUrlSitio/img/alianza.png" class="img-user img-md" />
                                    </a>
                                </span>
                            </div>
                            <div class="logo-element">
                                IN+
                            </div>
                        </li>
                        @*@Html.Raw(VariableGlobal.StrUsuarioMenu)*@
                        @{
                            var cnt_hijo = 0;
                            var cnt_padding = 40;
                            foreach (var value in obj_LtsMenu.Where(x => !x.StrIcono.IsEmpty()))
                            {
                                var str_ruta = "";
                                var span_arrow = "";
                                var int_ordenMenu = value.IntOrdenMenu;

                                if (@VariableGlobal.SessionStrTipoMenu == "ejecutivo")
                                {
                                    if (value.IntIdMenuPadre == 0)
                                    {
                                        if (value.IntIdPaginaInicial > 0)
                                        {
                                            str_ruta = @VariableGlobal.StrUrlSitio + value.StrRuta;
                                            span_arrow = "";
                                        }
                                        else
                                        {
                                            str_ruta = "#";
                                            span_arrow = "<span class='fa arrow'></span>";
                                        }

                                        <li class="dropdown" id="liLevel1Catalogos" data-id="@value.IntIdMenu" data-li-parent-id="@value.IntIdMenuPadre">
                                            <a href="@str_ruta@value.StrDescMenu" aria-expanded="true">
                                                <i class="fa @value.StrIcono "></i>
                                                <span class="nav-label">@value.StrDescMenu</span>
                                                @Html.Raw(span_arrow)
                                            </a>
                                        </li>
                                        foreach (var hijo in obj_LtsMenu.Where(x => x.StrIcono == "" && x.IntOrdenMenu == int_ordenMenu))
                                        {
                                            if (hijo.IntIdPaginaInicial == 0)
                                            {
                                                cnt_hijo++;
                                                if (hijo.StrRuta == "")
                                                {
                                                    <ul data-ul-parent-id="@hijo.IntIdMenuPadre" data-id="@hijo.IntIdMenu" class="nav nav-second-level soon">
                                                        <li class="dropdown" id="liLevel@(cnt_hijo)Catalogos" data-id="@hijo.IntIdMenu" data-li-parent-id="@hijo.IntIdMenuPadre">
                                                            <a href="#" style="padding-left: @(cnt_padding)px !important;">
                                                                <span class="nav-label"> @hijo.StrDescMenu </span>
                                                                <span class="fa arrow"></span>
                                                            </a>

                                                        </li>
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <li class="dropdown soon" id="liLevel@(cnt_hijo)Catalogos" data-id="@hijo.IntIdMenu" data-li-parent-id="@hijo.IntIdMenuPadre">
                                                        <a href="#" style="padding-left: @(cnt_padding)px !important;">
                                                            <span class="nav-label"> @hijo.StrDescMenu </span>
                                                            <span class="fa arrow"></span>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                            else
                                            {
                                                if (hijo.IntIdPaginaInicial > 0)
                                                {
                                                    cnt_hijo++;
                                                    str_ruta = @VariableGlobal.StrUrlSitio + hijo.StrRuta;
                                                    span_arrow = "";
                                                }
                                                else
                                                {
                                                    str_ruta = "#";
                                                    span_arrow = "<span class='fa arrow'></span>";
                                                }
                                                <ul data-ul-parent-id="@hijo.IntIdMenuPadre" data-id="@hijo.IntIdMenu" class="nav nav-second-level soon">
                                                    <li class="dropdown" id="liLevel@(cnt_hijo)Catalogos" data-id="@hijo.IntIdMenu" data-li-parent-id="@hijo.IntIdMenuPadre">
                                                        <a href="@str_ruta" style="padding-left: @(cnt_padding)px !important;">
                                                            <span class="nav-label">@hijo.StrDescMenu</span>
                                                            @Html.Raw(span_arrow)
                                                        </a>
                                                    </li>
                                                </ul>
                                            }
                                        }


                                    }
                                }
                            }

                        }

                    </ul>
                </div>
            </nav>
        </text>
    }

    <div id="page-wrapper" class="gray-bg">
        <!--- header global --->
        <!-- DIV para agregar una barra Superior con varias opciones fijas-->
        @if (IntBMenu == 1)
        {
            <text>
                <div class="row border-bottom @(VariableGlobal.SessionStrTipoMenu == "operativo" ? "white-bg" : "")">
                    <nav class="navbar navbar-fixed-top tooltip-demo @VariableGlobal.SessionStrTipoMenu " role="navigation" style="margin-bottom: 0">
                        @if (VariableGlobal.SessionStrTipoMenu == "ejecutivo" && IntBMenu == 1)
                        {

                            <text>
                                @* Este DIV agrega una barra superior fija en el navegador con una serie de botones *@
                                <div class="navbar-header ">
                                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                                    <ul class="nav navbar-top-links" style="overflow: hidden;">
                                        <li>
                                            <a><span>POR EL CAMINO DE LA CONFIANZA </span></a>
                                        </li>
                                    </ul>
                                    <!--
                                    <div class="btn_Lista hidden">
                                        <button type="button" class="btn_Buscar minimalize-styl-2 btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="Actualizar Lista"><i class="fa fa-refresh"></i></button>
                                        <button type="button" class="btn_Nuevo minimalize-styl-2 btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="Nuevo"><i class="fa fa-file-o"></i></button>
                                    </div>
                                    <div class="btn_Abc hidden">
                                        <button type="button" class="btn_Guardar minimalize-styl-2 btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="Guardar"><i class="fa fa-floppy-o"></i></button>
                                        <button type="button" class="btn_Cancelar minimalize-styl-2 btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="Regresar"><i class="fa fa-times"></i></button>
                                    </div>
                                    -->
                                </div>
                                <ul class="nav navbar-top-links navbar-right tooltip-demo">
                                    <li class="dropdown" style="margin-right: 0px;">
                                        <a class="dropdown-toggle count-info cerrar-sesion" id="btn_Notificaciones" data-toggle="dropdown" href="#" style="background:transparent !important">
                                            <i class="fa fa-bell"></i>  <span class="label label-primary spandNotificacion" id="spandNotificacion">0</span>
                                        </a>
                                        <ul class="dropdown-menu dropdown-alerts" id="ul_ListaNotificacion" style="overflow-y: auto; max-height: 550px;"></ul>
                                    </li>
                                    <li>
                                        <a class="btn_RecargarPagina right-sidebar-toggle" data-toggle="tooltip" data-placement="bottom" title="Recargar Página" data-original-title="Recargar Página"><i class="fa fa-refresh"></i></a>
                                    </li>
                                    <li>
                                        <a class="btn_CambiarTerminal right-sidebar-toggle" data-toggle="tooltip" data-placement="bottom" title="Cambiar Terminal" data-original-title="Cambiar Terminal"><i class="fa fa-tasks"></i></a>
                                    </li>
                                    <li>
                                        <a href="@VariableGlobal.StrUrlSitio/Acceso.cshtml" data-toggle="tooltip" data-placement="bottom" title="Cerrar Sesión" data-original-title="Cerrar Sesión"> <i class="fa fa-sign-out"></i></a>
                                    </li>
                                </ul>
                            </text>
                        }
                        else if (IntBMenu == 1)
                        {
                            @* <!--- Menú Operativo ---> *@
                            <text>
                                @* Cuando se selecciona Menú Operativo, este div es el encargado de pintar el menú superior *@
                                <div class="navbar-header">
                                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                                        <i class="fa fa-reorder"></i>
                                    </button>
                                    <div class="navbar-brand">
                                        <a href="@VariableGlobal.StrUrlSitio/Views/Default/Default.cshtml" class="color-blanco">SIP 2020</a> <span class="animacion-visibilidad">@Configuracion.StrAmbienteSistema.ToUpper()</span>
                                    </div>
                                    <a href="@VariableGlobal.StrUrlSitio/Acceso.cshtml" class="cerrar-sesion" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cerrar Sesión"><i class="fa fa-sign-out"></i></a>
                                    <a class="btn_RecargarPagina cerrar-sesion" data-toggle="tooltip" data-placement="bottom" title="Recargar Página" data-original-title="Recargar Página"><i class="fa fa-refresh"></i></a>
                                    <a href="" class="cerrar-sesion" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="PERFIL  @VariableGlobal.SessionStrDescPerfil.ToUpper()"><i class="fa fa-user"></i><span class="nav-text"> @VariableGlobal.SessionStrDescUsuario.ToUpper()</span></a>


                                    <ul class="nav navbar-top-links navbar-right tooltip-demo">
                                        <li class="dropdown" style="margin-right: 0px;">
                                            <a class="dropdown-toggle count-info cerrar-sesion" id="btn_Notificaciones" data-toggle="dropdown" href="#" style="background:transparent !important">
                                                <i class="fa fa-bell"></i>  <span class="label label-primary spandNotificacion" id="spandNotificacion">0</span>
                                            </a>
                                            <ul class="dropdown-menu dropdown-alerts" id="ul_ListaNotificacion" style="overflow-y: auto; max-height: 550px;"></ul>
                                        </li>
                                    </ul>
                                </div>
                                @*<div class="navbar-header" style="float:right !important;">
                                        <ul class="nav navbar-nav">
                                            <li>
                                                <a href="@VariableGlobal.StrUrlSitio/Acceso.cshtml" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cerrar Sesión"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                                            </li>
                                        </ul>
                                    </div>*@
                                <div class="navbar-collapse collapse nav-operativo" id="navbar">
                                    <ul class="menu-operativo nav navbar-nav" id="side-menu">
                                        @*@Html.Raw(VariableGlobal.StrUsuarioMenu)*@
                                    </ul>
                                </div>

                                @*<div class="wrapper border-bottom">
                                        <button type="button" class="minimalize-styl-2 btn btn-primary btn-xs nuevo" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Nuevo"><i class="fa fa-plus-square"></i></button>
                                        <button type="button" class="minimalize-styl-2 btn btn-primary btn-xs nuevo2" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Guardar"><i class="fa fa-floppy-o"></i></button>
                                        <button type="button" class="minimalize-styl-2 btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Cancelar"><i class="fa fa-times"></i></button>
                                        <button type="button" class="minimalize-styl-2 btn btn-primary btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Ver"><i class="fa fa-eye"></i></button>
                                    </div>*@
                            </text>
                        }
                    </nav>
                </div>
            </text>
        }


        @RenderBody()
    </div><!--- fin contenido--->
    <!--- Div para pintar el footer estático del sitio SIP 2020 --->
    @if (IntBMenu == 1)
    {
        <text>
            <div class="footer fixed hidden-print">
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            @VariableGlobal.SessionStrCveEmpresa - @VariableGlobal.SessionStrDescEmpresa - <strong>SIP 2020</strong> Todos los derechos reservados &copy; @DateTime.Now.Year.ToString()
                        </div>
                    </div>
                    <div class="col-lg-6">
						<div class="pull-right">
							@{
								if (int_Robot == 1)
								{
									<span style="color:red; font-weight: bold;">@VariableGlobal.SessionSqlServerName</span>
									<span> | </span>
								}
								@*if (int_PeriodoContable > 0)
								{
						            <span>Periodo Contable: @int_PeriodoContable</span>
									<span> | </span>
								}*@
							}
							<span>TC: <span id="span_TipoCambioActual"></span></span>
							<span> | </span>
							<span id="span_footerCveEmpresa">@VariableGlobal.SessionStrCveEmpresa</span> - <a class="btn_CambiarTerminal cerrar-sesion text-grey" data-toggle="tooltip" data-placement="top" title="Cambiar Terminal" data-original-title="Cambiar Terminal">@VariableGlobal.SessionStrCveTerminal (@VariableGlobal.SessionStrDescTermianl)</a>
						</div>
                    </div>
                </div>
            </div>
        </text>
    }

    <div id="overlayToastr"></div>
</div>


<style>

.navbar.navbar-fixed-top.operativo div.navbar-header{
    background: @Configuracion.StrClaseMenu;
    border-color: @Configuracion.StrClaseMenu;
}

.navbar.navbar-fixed-top.operativo .navbar-toggle {
    background: @Configuracion.StrClaseMenu;
    border-color: @Configuracion.StrClaseMenu;
}
.top-navigation .navbar-brand {
    background-color: @Configuracion.StrClaseMenu;
}

</style>
<script type="text/javascript">

    tipo_menu = '@VariableGlobal.SessionStrTipoMenu';
    var str_RutaActual = '@Strurl';

    var esMovil = {
        Android: function () {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function () {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function () {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function () {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function () {
            return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
        },
        any: function () {
            return (esMovil.Android() || esMovil.BlackBerry() || esMovil.iOS() || esMovil.Opera() || esMovil.Windows());
        }
    };

    var str_JsonNotificacion = JSON.parse('@Html.Raw(strJsonConfiguracionNotificacion)');
	$(document).ready(function () {
	    var int_MenuUsuario = @VariableGlobal.StrUsuarioMenu.Length;
        var str_UsuarioMenu = (localStorage.getItem('@VariableGlobal.SessionStrLocalStorage') ? localStorage.getItem("@VariableGlobal.SessionStrLocalStorage") : "");

        // Hacemos reacomodo para menu ejecutivo
        if (tipo_menu == 'ejecutivo') {
            $("ul.nav .soon").each(function () {
                $(this).appendTo("li[data-id='" + $(this).data("ul-parent-id") + "']");
            });

            $("#nav_menu").prop("hidden", false);
        }


        if ((int_MenuUsuario == 0 && str_UsuarioMenu == "") || (int_MenuUsuario == null && str_UsuarioMenu == null))
        {
            fn_CargarMenu();
        } else {
            if (int_MenuUsuario != 0) {
                if ('@VariableGlobal.SessionStrTipoMenu' == 'ejecutivo')
                    $("#side-menu").find("li#liLevel1Catalogos").remove();

                $("ul#side-menu").append('@Html.Raw(VariableGlobal.StrUsuarioMenu)');

            }
            else {
                 if ('@VariableGlobal.SessionStrTipoMenu' == 'ejecutivo')
                    $("#side-menu").find("li#liLevel1Catalogos").remove();

                $("ul#side-menu").append(localStorage.getItem("@VariableGlobal.SessionStrLocalStorage"));

            }
            fn_CargarEventosSiteLayout();
        }

        if (!esMovil.any()) {
            fn_CargarRutaActual(str_RutaActual);
        }
        var obj_Notificacion = new class_notificacion("@VariableGlobal.StrUrlSitio", "@VariableGlobal.StrUrlApi", str_JsonNotificacion.frecuenciaBusqueda, str_JsonNotificacion.minutosDiferencia, str_JsonNotificacion.altoNotificacion, @VariableGlobal.SessionIntIdUsuario);

        let obj_FechaActual = new Date();
        var dd = String(obj_FechaActual.getDate()).padStart(2, '0');
        var mm = String(obj_FechaActual.getMonth() + 1).padStart(2, '0');
        var yyyy = obj_FechaActual.getFullYear();
        var dec_TipoCambio_Actual = 0;
        var int_IdTipoCambio_Actual = 0;
        obj_FechaActual = mm + '/' + dd + '/' + yyyy;

        $("#span_TipoCambioActual").html(dec_TipoCambio_Actual.formatMoney(4, ".", ""));
    });

    function fn_CargarEventosSiteLayout() {
        obj_ClaseGlobal.fn_CargaInicial();

        $(".btn_RecargarPagina").click(function () {
            fn_VaciarUsuarioMenu();
            location.reload();
        });

        //$("#btn_Notificaciones").click(function () {
        //    fn_RevisarNotificacion();
        //});

        //evento a formulario para nuevo Tipo De Cambio
        $(".btn_CambiarTerminal").click(function () {

            swal({//metodo para el mensage de confirm
                    title: "Cambio de terminal",
                    text: "El cambio de terminal requiere redireccionarlo al inicio.\n ¿Desea continuar ?",
                    type: "warning",//tipo de mensage =>  opciones: warning, error, info y success
                    showCancelButton: true,//mostrar boton de cancelacion
                    confirmButtonColor: hex_str_ColorBotonConfirmar,//color de boton de confirmacion
                    confirmButtonText: "Sí!",//texto en el boton de confirmacion
                    cancelButtonText: "No!",//texto en el boton de cancelacion
                    closeOnConfirm: true,//la ventana de cerrara al momento de seleccionar la opcion de confirmacion
                    closeOnCancel: true,//la ventana de cerrara al momento de seleccionar la opcion de cancelacion
                },
                function (isConfirm) {
                    if (isConfirm) { //si el usuario confirma eliminar
                        $.pgwModal({
                            url: "@VariableGlobal.StrUrlSitio/Views/Aplicacion/Usuario/usuarioCambioTerminal.cshtml",
                            loadingContent: '<span style="text-align:center">Loading in progress</span>',
                            closeOnBackgroundClick: false,
                            title: "Cambio de Terminal",
                            maxWidth: "40%"
                        });
                    }
                });
        });
        int_MenuAlturaInicial = $("#side-menu").height();

        if ('@VariableGlobal.SessionStrTipoMenu' == 'ejecutivo')
            $('#nav_menu').metisMenu();
    }

    function fn_CargarMenu(){


        var Str_IdPerfil = '@VariableGlobal.SessionIntIdPerfil';
        var Int_BRobot = '@VariableGlobal.SessionIntBRobot';
        var Int_Ejecuta = 0;

        if (Int_BRobot == 1)
            Int_Ejecuta = 2;
        else
            Int_Ejecuta = 3;
        $.ajax({
				url: "@VariableGlobal.StrUrlApi/Menu/",
                type: "GET",
                contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
                data: {
                    ParamStrBuscar: Str_IdPerfil,
                    ParamIntEjecuta: Int_Ejecuta
                },
            success: function (obj_Datos) {
                if (tipo_menu == 'ejecutivo')
                    fn_CargarMenuEjecutivo(obj_Datos);
                else
                    fn_CargarMenuOperativo(obj_Datos);
            }
            ,complete: function () {
                //Se valida que el navegador soporte localStorage
                if (typeof (Storage) !== "undefined") {
                    //Se requiere clonar el objeto para poder manipularlo, sin tocar el html real
                    var str_Menu = $("#side-menu").clone();
                    //Esto solo aplicara para el menu Ejecutivo
                    str_Menu.find("li.nav-header").remove();
                    localStorage.setItem("@VariableGlobal.SessionStrLocalStorage", $.trim(str_Menu.html()));
                } else {
                    fn_GrabarUsuarioMenu();
                }
                fn_CargarEventosSiteLayout();
            }
	    });

    };

    function fn_CargarMenuEjecutivo(objListaCatalogo) {
        var row = '';
        var cnt_hijo = 1;
        var cnt_padding = 40;
        var cnt_ulCnt = 1;
        var str_ruta = '';
        var span_arrow = '';

        $.each(objListaCatalogo, function (index, value) {
            cnt_padding = 40;
            cnt_ulCnt = 1;
            str_ruta = '';
            span_arrow = '';

            if (value.IntIdMenuPadre == 0) {
                if (value.IntIdPaginaInicial > 0) {
                    str_ruta = '@VariableGlobal.StrUrlSitio'+value.StrRuta;
                    span_arrow = '';
                }
                else {
                    str_ruta = '#';
                    span_arrow = '<span class="fa arrow"></span>';
                }

                row = '<li class="dropdown" id="liLevel1Catalogos" data-id="'+value.IntIdMenu +'" data-li-parent-id="' + value.IntIdMenuPadre+'">' +
                    '<a href="' + str_ruta + '">' +
                        '<i class="fa '+value.StrIcono+'"></i>' +
                            '<span class="nav-label">' + value.StrDescMenu + '</span>' +
                            span_arrow+
                    '</a></li>';
                $("nav.navbar-default ul:first").append(row);
            } else {

                if (value.IntIdPaginaInicial == 0) {

                    if (!$('nav.navbar-default ul li ul[data-ul-parent-id="' + value.IntIdMenuPadre + '"]').length) {
                        cnt_hijo++;
                        cnt_ulCnt = $('nav.navbar-default').find('li[data-id="' + value.IntIdMenuPadre + '"]').closest('#liLevel1Catalogos').find("ul[data-ul-parent-id='" + value.IntIdMenuPadre + "']").length;
                        cnt_padding = 40;// + (cnt_ulCnt * 5);
                        row = '<ul  data-ul-parent-id="' + value.IntIdMenuPadre + '" data-id="' + value.IntIdMenu + '" class="nav nav-second-level ">' +
                            '<li class="dropdown" id="liLevel' + cnt_hijo + 'Catalogos" data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                            '<a href="#" style="padding-left: '+cnt_padding+'px !important;">' +
                            //'<i class="fa ' + value.StrIcono + '"></i>' +
                            '<span class="nav-label">' + value.StrDescMenu + '</span>' +
                            '<span class="fa arrow"></span>' +
                            '</a>' +
                            '<ul data-id="' + value.IntIdMenu + '" data-ul-parent-id="' + value.IntIdMenu + '" class="nav">' +
                            '</ul>' +
                            '</li>';
                    '</ul>';

                        if (!$('nav.navbar-default ul li ul[data-ul-parent-id="' + value.IntIdMenuPadre + '"]').length)
                            $("nav.navbar-default ul li[data-id='" + value.IntIdMenuPadre + "']").append(row);
                        else
                            $("nav.navbar-default ul li ul[data-ul-parent-id='" + value.IntIdMenuPadre + "']").append(row);
                    }
                    else {

                        cnt_ulCnt = $('nav.navbar-default').find('li[data-id="' + value.IntIdMenuPadre + '"]').closest('#liLevel1Catalogos').find("ul[data-ul-parent-id='" + value.IntIdMenuPadre + "']").length -1;
                        cnt_padding = 40;// + (cnt_ulCnt * 5);
                        row = '<li class="dropdown" id="liLevel' + cnt_hijo + 'Catalogos" data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                            '<a href="#" style="padding-left: ' + cnt_padding + 'px !important;">' +
                            //'<i class="fa ' + value.StrIcono + '"></i>' +
                            '<span class="nav-label">' + value.StrDescMenu + '</span>' +
                            '<span class="fa arrow"></span>' +
                            '</a>' +
                            '<ul data-id="' + value.IntIdMenu + '" data-ul-parent-id="' + value.IntIdMenu + '"  class="nav ">' +
                            '</ul>' +
                            '</li>';
                        $("nav.navbar-default ul li ul[data-ul-parent-id='" + value.IntIdMenuPadre + "']").append(row);
                    }
                } else {
                    if (value.IntIdPaginaInicial > 0) {
                        str_ruta = value.StrRuta;
                        span_arrow = '';
                    }
                    else {
                        str_ruta = '';
                        span_arrow = '<span class="fa arrow"></span>';
                    }

                    cnt_ulCnt = $('nav.navbar-default').find('li[data-id="' + value.IntIdMenuPadre + '"]').closest('#liLevel1Catalogos').find("ul").length;

                    cnt_padding = 40;// + (cnt_ulCnt * 5);

                    row =
                        '<li id="liLevel' + cnt_hijo + 'Catalogos" data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                        '<a href="@VariableGlobal.StrUrlSitio' + value.StrRuta + '" style="padding-left: ' + cnt_padding + 'px !important;">' +
                        '<span class="nav-label">' + value.StrDescMenu + '</span>' +
                        span_arrow +
                        '</a>' +
                        '</li>';
                    //if ($("nav.navbar-default ul[data-ul-parent-id='" + value.IntIdMenuPadre + "']").length > 0)
                    //    $("nav.navbar-default ul[data-ul-parent-id='" + value.IntIdMenuPadre + "']").append(row);
                    //else
                    //    $("nav.navbar-default ul li[data-id='" + value.IntIdMenuPadre + "']").append(row);

                    if ($("nav.navbar-default ul[data-ul-parent-id='" + value.IntIdMenuPadre + "'][data-id='" + value.IntIdMenuPadre + "']").length > 0)
                        $("nav.navbar-default ul[data-ul-parent-id='" + value.IntIdMenuPadre + "'][data-id='" + value.IntIdMenuPadre + "']").append(row);
                    else if ($("nav.navbar-default li[data-li-parent-id='0'][data-id='" + value.IntIdMenuPadre + "']").length > 0) {
                        row = '<ul  data-ul-parent-id="' + value.IntIdMenuPadre + '" data-id="' + value.IntIdMenu + '" class="nav nav-second-level ">' +
                            row
                            + '</ul>';
                        $("nav.navbar-default li[data-li-parent-id='0'][data-id='" + value.IntIdMenuPadre + "']").append(row);
                    }
                }
                }
        });

        };

    function fn_CargarRutaActual(paramStr_RutaActual) {
        var str_Metodo = "GET";
        var str_Url = "";
        var str_UrlSegmentos;
        var int_Index = 0;
        var str_Ruta = "";
        if (!paramStr_RutaActual.includes("Origen")) {
            paramStr_RutaActual = paramStr_RutaActual.split("?");
            str_UrlSegmentos = paramStr_RutaActual[0].split("/");
            if (str_UrlSegmentos[1].includes("Views")) {
                int_Index = 1;
            } else {
                int_Index = 2;
            }

        } else {
            str_UrlSegmentos = paramStr_RutaActual.split("/");
            str_Url = "@VariableGlobal.StrUrlApi/PaginaMenu?ParamIntEjecuta=3&ParamStrUrl=" + paramStr_RutaActual;
            if (str_UrlSegmentos[1].includes("Views")) {
                int_Index = 1;
            } else {
                int_Index = 2;
            }
        }
        for (var i = int_Index; i < str_UrlSegmentos.length; i++) {
            str_Ruta += "/" + str_UrlSegmentos[i];
        }

        str_Url = "@VariableGlobal.StrUrlApi/PaginaMenu?ParamIntEjecuta=3&ParamStrUrl=" + str_Ruta;
        $.ajax({
            url: str_Url,
           // data: JSON.stringify(obj_Pagina),
            type: str_Metodo,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (obj_Datos) {
                $.each(obj_Datos, function (index, value) {
                    if (index == "StrJsonPaginaAccion") {
                        if (value != "[]") {
                            var lst_PaginaMenu = JSON.parse(value);
							if ($(".ejecutivo").length) {
								$(".navbar-top-links:first").append('<li><span class="breadcrumbs" style="color: #fff!important;padding: 6px 10px;font-size: 13px; font-weight:500; display: inline-flex;">' + lst_PaginaMenu[0].menu + '</span></li>');
								$('body.fixed-nav #wrapper .navbar-static-side, body.fixed-nav #wrapper #page-wrapper').css('margin-top', '0');
								if ($(".navbar-fixed-top").length) {
									var marginTop = ($(".navbar-fixed-top").height() || 0);
									$(".fixed-nav #wrapper .page-heading").css("margin-top", marginTop + "px");
									$(".wrapper-content").css("margin-top", marginTop + "px");
								}
							} else {
								$(".navbar-header").append('<span style="color: #fff!important;padding: 16px 10px;font-size: 13px; font-weight:500; display: inline-flex;">' + lst_PaginaMenu[0].menu + '</span>');
							}

                        }
                    }
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                //toastr["error"]("Ocurrió un error al grabar los datos del formulario: " + thrownError);
            }
        });

    }

    function fn_CargarMenuOperativo(objListaCatalogo) {
        var row = '';
        var cnt_hijo = 1;
        var cnt_padding = 40;
        var cnt_ulCnt = 1;
        var str_ruta = '';
        var span_arrow = '';

        $.each(objListaCatalogo, function (index, value) {
            cnt_padding = 40;
            cnt_ulCnt = 1;
            str_ruta = '';
            span_arrow = '';

            if (value.IntIdMenuPadre == 0) {
                if (value.IntIdPaginaInicial > 0) {
                    str_ruta = '@VariableGlobal.StrUrlSitio' + value.StrRuta;
                    span_arrow = '';
                }
                else {
                    str_ruta = '#';
                    span_arrow = '<b class="caret"></b>';
                }
                if (value.IntIdPaginaInicial == 0) {

                    row = '<li class="dropdown" data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                        '<a class="dropdown-toggle" data-toggle="dropdown" href="' + str_ruta + '">' +
                        '<i class="fa ' + value.StrIcono + '"></i>' +
                        value.StrDescMenu +
                        span_arrow +
                        '</a>' +
                        '<ul class="dropdown-menu" data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                        '</ul>' +
                        '</li>';
                } else {
                    row = '<li data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                        '<a href="' + str_ruta + '">' +
                        '<i class="fa ' + value.StrIcono + '"></i>' +
                        value.StrDescMenu +
                        span_arrow +
                        '</a>' +
                        '</li>';
                }
                //if (value.StrDescMenu != 'Salir')
                    $("div#navbar ul.menu-operativo").append(row);

            } else {

                if (value.IntIdPaginaInicial == 0) {

                    str_ruta = '#';

                    row ='<li class="dropdown dropdown-submenu" data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                        '<a class="dropdown-toggle" data-toggle="dropdown" href="' + str_ruta + '">' +
                        value.StrDescMenu +
                        '</a>' +
                        '<ul class="dropdown-menu" data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                        '</ul>' +
                        '</li>';

                    $("div#navbar ul li ul[data-id='" + value.IntIdMenuPadre + "']").append(row);

                } else {
                    str_ruta = '@VariableGlobal.StrUrlSitio' + value.StrRuta;

                    row = '<li data-id="' + value.IntIdMenu + '" data-li-parent-id="' + value.IntIdMenuPadre + '">' +
                        '<a href="' + str_ruta + '">' +
                        value.StrDescMenu +
                        '</a>' +
                        '</li>';

                    $("div#navbar ul li ul[data-id='" + value.IntIdMenuPadre + "']").append(row);

                }
            }
        });
        //obj_ClaseGlobal.fn_CargaInicial();
    }

        function fn_GrabarUsuarioMenu() {

            //Se requiere clonar el objeto para poder manipularlo, sin tocar el html real
            var str_Menu = $("#side-menu").clone();
            //Esto solo aplicara para el menu Ejecutivo
            str_Menu.find("li.nav-header").remove();
            //Mandamos los datos al webmethod para guardar los datos
            var str_Metodo = "";
            var str_Url = "";
            str_Metodo = "POST";
            str_Url = "@VariableGlobal.StrUrlApi/Acceso/AgregarMenu/";
            $.ajax({
                url: str_Url,
                async: false,
                data: JSON.stringify({
                    StrMenuUsuario: $.trim(str_Menu.html())
                }),
                type: str_Metodo,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (obj_Datos) {
                    //Se realizo guardo el menu con exito

                }
                , error: function (xhr, ajaxOptions, thrownError) {
                    toastr["error"]("Ocurrió un error al tratar de guardar el menú del usuario " + thrownError);
                }
            });
        }

        //Asignamos el menu vacio por default al usuario, para por consecuente, al recargar la pagina, se haga la peticion al servidor con la nueva informacion
        function fn_VaciarUsuarioMenu() {

            var int_MenuUsuario = @VariableGlobal.StrUsuarioMenu.Length;
            var str_UsuarioMenu = (localStorage.getItem("@VariableGlobal.SessionStrLocalStorage") ? localStorage.getItem("@VariableGlobal.SessionStrLocalStorage") : "");

            //Si el local storage esta vacio, significa que se guardo por server, y limpiamos la variable del server
            if (str_UsuarioMenu == "") {
                var str_Metodo = "";
                var str_Url = "";
                str_Metodo = "POST";
                str_Url = "@VariableGlobal.StrUrlApi/Acceso/AgregarMenu/";
                $.ajax({
                    url: str_Url,
                    async: false,
                    data: JSON.stringify({
                        StrMenuUsuario: ""
                    }),
                    type: str_Metodo,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (obj_Datos) {
                        //Se realizo guardo el menu con exito

                    }
                    , error: function (xhr, ajaxOptions, thrownError) {
                        toastr["error"]("Ocurrió un error al tratar de guardar el menú del usuario " + thrownError);
                    }
                });
            } else {
                localStorage.removeItem("@VariableGlobal.SessionStrLocalStorage");
            }
        }

        
</script>
</body>
</html>


